.character-card {
  background-color: white;
  padding: 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
  width: 150px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'LeeSeoyun';
}

.character-card p {
  color: #5a3e36;
  text-shadow: none;
}

.character-card.selected p {
  color: white;
  text-shadow: none;
}
.character-card:hover {
  transform: scale(1.05);
}

.character-card.selected {
  border-color: #5a3e36;
  box-shadow: 0px 4px 20px rgba(90, 62, 54, 0.3);
  background-color: #6d3fc9;
  color: white;
}

.character-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}


.character-name {
  font-size: 1rem;
  color: #5a3e36;
}
