.character-card {
  background-color: white;
  padding: 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
  width: 220px; /* 카드 크기 조정 */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'LeeSeoyun';
}

.character-card p {
  color: #5a3e36;
  text-shadow: none;
  font-size: 1.2rem;
}

.character-card.selected p {
  color: white;
  text-shadow: none;
}

.character-card:hover {
  transform: scale(1.05); /* 카드 크기 확대 */
}

.character-card.selected {
  border-color: #5a3e36;
  box-shadow: 0px 4px 20px rgba(90, 62, 54, 0.3);
  background-color: #6d3fc9;
  color: white;
}

.character-card img {
  width: 60%;
  height: 60%;
  transition: transform 0.2s ease;
}

.character-card:hover .character-image {
  transform: scale(1.1); /* 마우스 오버 시 이미지 확대 */
}

.character-name {
  font-size: 1rem;
  color: #5a3e36;
}

/* 반응형 스타일: 폰트 크기 조정 */
@media (max-width: 768px) {
  .character-card p {
    font-size: 1rem; /* 중간 화면 크기에서 폰트 축소 */
  }

  .character-name {
    font-size: 0.9rem; /* 중간 화면 크기에서 폰트 축소 */
  }

  .character-image {
    width: 300px; /* 이미지 크기 조정 */
    height: 300px;
  }
}

@media (max-width: 480px) {
  .character-card p {
    font-size: 0.8rem; /* 작은 화면 크기에서 폰트 더 축소 */
  }

  .character-name {
    font-size: 0.8rem; /* 작은 화면 크기에서 폰트 더 축소 */
  }

  .character-image {
    width: 200px; /* 이미지 크기 더 축소 */
    height: 200px;
  }
}
